<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCat - Login</title>
	<link rel="stylesheet" href="/css/loginStyles.css">
	<link href="https://fonts.googleapis.com/css?family=Lato|Patua+One&display=swap" rel="stylesheet">
	<script src="/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>ChatCAT | Login</h1>
		</div>
		<div class="loginButton">
			<a href="/auth/facebook">
				<img id="loginBtnImg" src="/img/fbLoginBtn.png" alt="Sign-In with Facebook">
			</a>

			<a href="/auth/twitter">
				<img id="loginBtnImg" src="/img/twLoginBtn.png" alt="Sign-In with Twitter">
			</a>

			<a href="/auth/google">
				<img id="loginBtnImg" src="/img/goLoginBtn.png" alt="Sign-In with Google">
			</a>
		</div>
	</div>
</body>
</html>